{
	"extends": "stylelint-config-standard",
	"rules": {
		"block-no-empty": null,
		"color-named": "never",
		"font-family-name-quotes": "always-where-recommended",
		"font-weight-notation": "numeric",
		"indentation": "tab",
		"number-leading-zero": null,
		"number-max-precision": 3,
		"selector-no-id": true,
		"string-quotes": "single",
		"time-no-imperceptible": true,
		"value-no-vendor-prefix": true,
		"value-keyword-case": "lower"
	}
}
