// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// https://raw.githubusercontent.com/copyblogger/genesis-sample/5afef88688b0f187733cea089fbb5bfc5ce2c351/style.css
// https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe#.17fafly68
%visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	@extend %visuallyhidden;
}

// https://raw.githubusercontent.com/copyblogger/genesis-sample/5afef88688b0f187733cea089fbb5bfc5ce2c351/style.css
.genesis-skip-link {
	margin: 0;

	li {
		width: 0;
		height: 0;
		list-style: none;
	}
}
