.archive-description {
}

.archive-title {
}

.archive-pagination {
	clear: both;

	a {
	}

	li {
		display: inline;

		a {
			&:hover,
			&:focus {
			}
		}

		&.pagination-omission {
		}

		&.active {
			a {
			}
		}
	}
}
