.btn {
	display: inline-block;
	width: auto;
	border: none;
	border-radius: 0;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	cursor: pointer;
	transition: all .1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover,
	&:focus {
	}
}
