// Float Clearing - from Genesis 2.0's style.css

address:before, address:after,
article:before, article:after,
aside:before, aside:after,
audio:before, audio:after,
blockquote:before, blockquote:after,
canvas:before, canvas:after,
dd:before, dd:after,
div:before, div:after,
dl:before, dl:after,
fieldset:before, fieldset:after,
figcaption:before, figcaption:after,
figure:before, figure:after,
footer:before, footer:after,
form:before, form:after,
header:before, header:after,
hr:before, hr:after,
main:before, main:after,
output:before, output:after,
pre:before, pre:after,
section:before, section:after,
table:before, table:after,
tfoot:before, tfoot:after,
video:before, video:after,
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}

address:after,
article:after,
aside:after,
audio:after,
blockquote:after,
canvas:after,
dd:after,
div:after,
dl:after,
fieldset:after,
figcaption:after,
figure:after,
footer:after,
form:after,
header:after,
hr:after,
main:after,
output:after,
pre:after,
section:after,
table:after,
tfoot:after,
video:after,
.clearfix:after {
	clear: both;
}