.comment-list {
	.comment {
		> article {
		}
	}

	.children {
	}
}

.comment-header {
	@include clearfix;

	.comment-author {
	}

	img {
	}
}

.comment-content {
	@extend .entry-content;
}

.comment-respond {
	.form-submit {
		@include clearfix;
	}
}

.comment-notes,
.logged-in-as,
.form-allowed-tags {
	@include type;
}

.comment-notes,
.logged-in-as,
.form-allowed-tags,
.comment-form-author,
.comment-form-email,
.comment-form-url {
}

.comment-form-comment {
}
