.breadcrumb {

}

.entry-title {
	@include word-break(break-word);
	line-height: 1;
	a {

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.archive-title {

}

.entry-content {
    a {

	    &:hover,
	    &:focus,
	    &:active {

	    }
    }

	.attachment,
	.gallery {

		a {
			border: none;
		}
	}

	p,
	ul,
	ol {
		@include word-break(break-word);
		@include hyphens(auto);
		text-overflow: ellipsis;
	}

	ol {

		li {
			list-style-type: decimal;
		}

		ol {
			margin-bottom: 0;
		}
	}

	ul {

		li {
			list-style-type: disc;
		}

		ul {
			margin-bottom: 0;
		}
	}

    blockquote {

	   	p {

	   	}
    }
}

.entry-meta {
	clear: both;

	a {

	}
}

.entry-categories,
.entry-tags {
	display: block;
}

.navigation {
	clear: both;

	a {

	}

	li {
		display: inline;

		a {

			&:hover,
			&:focus,
			&:active {

			}
		}

		&.active {

			a {

			}
		}
	}
}