.breadcrumbs {
}

.entry-title {
	overflow: hidden;
	word-wrap: break-word;

	a {
		color: inherit;

		&:hover {
		}
	}
}

.entry-content {
	ol,
	ul {
		@include type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: 0;

		p {
		}
	}

	table {
		margin-bottom: $spacer;
	}
}

.more-link {
	position: relative;
	white-space: nowrap;
}

.entry-pagination {
	@include type;
}

.entry-meta {
	clear: both;

	.entry-header & {
	}

	.entry-footer & {
	}

	.entry-categories,
	.entry-tags {
	}
}
