.breadcrumb {

}

.entry-title {
	overflow: hidden;
	word-break: break-word;

	a {
		color: inherit;

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.archive-title {

}

.entry-content {

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {

		li {
			list-style-type: decimal;
		}
	}

	ul {

		li {
			list-style-type: disc;
		}
	}

	blockquote {

	 	p {

	 	}
	}
}

.entry-pagination {

}

.entry-meta {
	clear: both;

	.entry-header & {

	}

	.entry-footer & {

	}

	.entry-categories,
	.entry-tags {

	}
}

.archive-pagination {
	clear: both;

	a {

	}

	li {
		display: inline;

		a {

			&:hover,
			&:focus,
			&:active {

			}
		}

		&.active {

			a {

			}
		}
	}
}