.footer-widgets {
	clear: both;

	.footer-widgets-1,
	.footer-widgets-2 {
		float: left;
	}

	.footer-widgets-3 {
		float: right;
	}

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}

	.widget {

	}

	.widgettitle {

	}

	li {
		@include word-break(break-word);
		overflow: hidden;
	}
}

.site-footer {

	a {

	}
}