@use "sass:math";

@use "variables" as *;
@use "toolkit" as *;
@use 'include-media' as *;

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
textarea {
	appearance: none;
	width: 100%;
	max-width: 100%;
	margin: 0;
	color: $text;
	font-size: 1em;
	line-height: 1.15;
	font-family: inherit;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

textarea {
	display: block;
	resize: vertical; // Allow only vertical resizing of textareas.
}

select {
	width: 100%;
	color: $text;

	option {
		color: $black;

		&:disabled {
			color: rgba($black, .5);
		}
	}
}

::placeholder {
	text-overflow: ellipsis;
}

.search-form,
.post-password-form {
	display: flex;
	align-items: center;

	input[type='submit'] {
		flex: 0 0 auto;
		margin-left: .25em;
	}
}

.search-form {
	input[type='search'] {
		flex: 1 1 auto;
	}
}

.post-password-form {
	input[type='password'] {
		flex: 1 1 auto;
	}
}