input:focus,
textarea:focus {
	// outline: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
textarea {
	max-width: 100%;
	width: 100%;
	border-radius: 0;		// Removes the border radius on iOS
}

input[type="password"] {
	font-family: monospace; // Not all fonts will show the password bullets in IE8
}

// Hide the spinner on input[type="number"] in Firefox
input[type="number"] {
	// -moz-appearance:textfield;
}

// Hide the spinner on input[type="number"] in Chrome/Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	// -webkit-appearance: none;
}

select {
	width: 100%;
}

.placeholder {
	text-overflow: ellipsis;
}

::placeholder {
	text-overflow: ellipsis;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .btn;
}

input[type="search"] {
	box-sizing: border-box; // Overrides normalize.css
}