*, :before, :after {
	@include box-sizing(border-box);
}

body {
	text-rendering:  optimizeLegibility;
}

a:link, a:visited {
}
a:hover, a:focus, a:active {
}

::-moz-selection {}
::selection {}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#wrap {}
#inner {}
#content-sidebar-wrap {}
#content {}
.content-sidebar, .sidebar-content, .sidebar-sidebar-content, .full-width-content {
	#content {}
}
.content-sidebar {}
.sidebar-content {}
.sidebar-sidebar-content {}
.full-width-content {}

h1, h2, h3, h4, h5, h6 {
	a {}
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}