// http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
// http://wpsmith.net/2013/wp/genesis-2-0-drops-fifths-from-column-classes/
// https://github.com/cdukes/bones-for-genesis-2-0/issues/23

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564%;
	min-height: 1px;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.718%;
}

.one-third,
.two-sixths {
	width: 31.624%;
}

.four-sixths,
.two-thirds {
	width: 65.812%;
}

.one-fourth {
	width: 23.077%;
}

.three-fourths {
	width: 74.359%;
}

.one-fifth {
	width: 17.949%;
}

.two-fifths {
	width: 38.462%;
}

.three-fifths {
	width: 58.974%;
}

.four-fifths {
	width: 79.487%;
}

.one-sixth {
	width: 14.53%;
}

.five-sixths {
	width: 82.906%;
}

.first {
	clear: both;
	margin-left: 0;
}
