.title-area {
	float: left;
}

.header-image {
	.title-area {
		padding: 0;
	}

	.site-description,
	.site-title a {
		@extend %image-replacement;
		display: block;
	}
}

.site-title {
	line-height: 1;
	a {

		&:hover, &:focus, &:active {

		}
	}
}

.site-description {
	margin: 0;
	line-height: 1;
}

.site-header {

	.widget-area {
		float: right;
	}
}