.site-header {

	> .wrap {

	}
}

.title-area {
	float: left;
}

.site-title,
.site-description {
	margin: 0;
	line-height: 1;

	.header-image & {
		@extend %image-replacement;
		display: block;
	}
}

.site-title {
	line-height: 1;

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.header-widget-area {
	float: right;

	.widget {

	}
}