.site-header {

}

.title-area {
	float: left;
}

.site-title {
	line-height: 1;

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.site-description {
	margin: 0;
	line-height: 1;
}

.header-image {

	.site-description,
	.site-title {
		@extend %image-replacement;
		display: block;
	}
}

.header-widget-area {
	float: right;
}