html {
	&.lt-ie9 {
		min-width: $site-width;
	}
}

.lt-ie9 {
	body {
		min-width: $site-width;
	}

	.site-container {
		margin: 0 auto;
		width: $site-width;
	}

	input[type='password'] {
		font-family: monospace; // Not all fonts will show the password bullets in IE8
	}
}
