.alignnone {
    display: inline;
}

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
}
.wp-caption {
    img {}
    .wp-caption-text {}
}