.wrap {
	@extend %wrap;
}

.site-inner {
	clear: both;
}

.content-sidebar-sidebar,
.sidebar-content-sidebar,
.sidebar-sidebar-content {

	.content-sidebar-wrap {

	}
	.content {

	}
}

.content-sidebar-sidebar {

	.content-sidebar-wrap {
		float: left;
	}
}

.sidebar-content-sidebar,
.sidebar-sidebar-content {

	.content-sidebar-wrap {
		float: right;
	}
}

.content {
	float: right;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.full-width-content {

	.content {
		width: 100%;
	}
}

.sidebar-primary {
	float: right;
}

.sidebar-content,
.sidebar-sidebar-content {

	.sidebar-primary{
		float: left;
	}
}

.sidebar-secondary {
	float: left;
}

.content-sidebar-sidebar {

	.sidebar-secondary {
		float: right;
	}
}