// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

.site-container {
}

.site-inner {
	word-wrap: break-word;
}

.content-sidebar-wrap {
	@extend %clearfix;
}

.content {
}

.sidebar-primary {
}

.sidebar-secondary {
}
