.genesis-nav-menu {
	@extend %clearfix;
	@extend %unstyled-list;
	width: 100%;

	.menu-item {
		position: relative;
		display: inline-block;
		text-align: left;

		&:hover,
		&:focus,
		&:active,
		&.sfHover {

			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}

	a {
		position: relative;
		display: block;
	}

	a:hover,
	a:focus,
	a:active,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover {

	}

	.sub-menu .current-menu-item > a {

	}

	> .menu-item > a {

	}

	.sub-menu {
		@include opacity(0);
		@include transition(opacity .4s ease-in-out);
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 99;

		a {
			position: relative;
		}

		.sub-menu {

		}
	}

	> .first {

		> a {

		}
	}

	> .last {

		> a {

		}
	}
}