embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto $spacer;
}

img.alignnone,
.alignnone {
	margin-bottom: $spacer / 1;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 $spacer $spacer 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 $spacer $spacer;
}

.wp-caption {
	width: auto !important;

	p {
		margin-bottom: 0;
	}
}

.wp-caption-text {
	@extend %type;
	margin: 0;
	text-align: center;
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin: 0 0 $spacer;
}
