@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		filter: none !important;
		box-shadow: none !important;
		color: black !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
		text-shadow: none !important;
	}

	a,
	a:visited {
		color: black !important;
		text-decoration: underline;
	}

	pre,
	blockquote {
		border: 1px solid black;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm .5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-inside: avoid;
		page-break-after: avoid;
		orphans: 3;
		widows: 3;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.hide-print {
		display: none !important;
	}

	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	.content {
		width: 100% !important;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

	.entry-title,
	.entry-content {
		a[href]:after {
			content: ' (' attr(href) ')';
		}

		abbr[title]:after {
			content: ' (' attr(title) ')';
		}

		/*
	     * Don't show links that are fragment identifiers,
	     * or use the `javascript:` pseudo protocol
	     */

		a[href^='#']:after,
		a[href^='javascript:']:after {
			content: '';
		}
	}
}
