@media print {
	* {
		@include filter(none !important);
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
	}

	a:link, a:visited {
		color: black !important;
		text-decoration: underline;
	}

	blockquote {
		border: 1px solid black;
		page-break-inside: avoid;
	}

    @page {
		margin: 2cm 1.5cm;
    }

    p, h2, h3 {
    	orphans: 4;
    	widows: 2;
    }

    h2, h3 {
    	page-break-after: avoid;
    }

	.entry-title, .entry-content {
		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		a[href^="#"]:after, a[href^="javascript"]:after {
			content: "";
		}
	}
}