// Use with @extend to make reponsive modules
%wrap {
	margin: 0 auto;
	//width: 100%;				// Site should always expand to browser width...
	//max-width: $siteWidth;	// ...unless the browser is larger than this
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%image-replacement {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
%clearfix {
	zoom: 1;			// For IE

	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}
}

// Image replacement (H5BP)
%ir {
	display: block;
	overflow: hidden;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	text-indent: -999em;
	direction: ltr;

	br {
		display: none;
	}
}

// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
%visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

.screen-reader-text {
	@extend %visuallyhidden;
}

.no-js {
	.hide-no-js {
		display: none !important;
	}
}

%unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

%type {
	margin-bottom: 1.5em;
	text-overflow: ellipsis;
	word-break: break-word;
	hyphens: auto;
	letter-spacing: .01rem;
	line-height: 1.5;

	&:last-child {
		margin-bottom: 0;
	}
}

// http://tobiasahlin.com/spinkit/
%spinner {
	display: block;
	padding: .25em;
	width: 100%;
	text-align: center;

	> div {
		display: inline-block;
		width: 1em;
		height: 1em;
		border-radius: 100%;
		background-color: $gray;
		vertical-align: middle;
		animation: bouncedelay 1.4s infinite ease-in-out;
		animation-fill-mode: both;
	}

	.bounce1 {
		animation-delay: -.32s;
	}

	.bounce2 {
		animation-delay: -.16s;
	}
}
