// Use with @extend to make reponsive modules
%wrap {
	margin: 0 auto;
	padding-right: .5em;
	padding-left: .5em;
	max-width: $site-width + 1em;
	width: 100%;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%image-replacement {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

.no-js {
	.hide-no-js {
		display: none !important;
	}
}

%unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

%type {
	margin-bottom: $spacer;
	letter-spacing: .01rem;
	line-height: 1.5;

	&:last-child {
		margin-bottom: 0;
	}
}
