// Use with @include to make reponsive modules
@mixin wrap {
	margin: 0 auto;
	padding-right: .75em;
	padding-left: .75em;
	max-width: $site-width + 1.5em;
	width: 100%;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
@mixin image-replacement {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

// https://make.wordpress.org/core/2017/10/22/changes-to-the-screen-reader-text-css-class-in-wordpress-4-9/
@mixin visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;

	clip-path: inset(50%);
}

@mixin unstyled-list {
	overflow: initial;
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

@mixin type {
	margin: 0 0 $spacer;
	line-height: 1.5;

	&:last-child {
		margin-bottom: 0;
	}
}
