html,
body {
	// min-width: $site-width; // Prevents backgrounds on these elements from being truncated on smaller screens on fixed-width sites
}

body {
	font-family: $sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-variant-ligatures: common-ligatures;
}

::selection {
	// text-shadow: none;
}

a {
	text-decoration: underline;
	transition: all .1s ease-in-out;

	&:hover,
	&:focus {
	}
}

ol,
ul {
	@extend %unstyled-list;
}

p {
	margin: 0;
}

strong {
	font-weight: 700;
}

abbr {
	letter-spacing: .1em;
}

pre {
	overflow: scroll;
	white-space: pre;
}

code {
	overflow: hidden;
	word-wrap: break-word;
}

iframe {
	border: none;
}
