body {
	font-weight: 300;
	font-family: $sans;
	// text-rendering:  optimizeLegibility // Use with caution. May break certain @font-face fonts.
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	@include transition(all 0.1s ease-in-out);
}

::-moz-selection {
	// text-shadow: none
}

::selection {
	// text-shadow: none
}

a {

	&:hover,
	&:focus,
	&:active {

	}

	img {
	}
}

ol,
ul,
p {
	margin: 0;
	padding: 0;
	list-style: none;
}

strong {
	font-weight: 700;
}

pre {
	overflow: scroll;
	white-space: pre;
}

code {
	@include word-break(break-word);
	overflow: hidden;
}