html,
body {
	// min-width: $siteWidth; // Prevents backgrounds on these elements from being truncated on smaller screens on fixed-width sites
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-variant-ligatures: common-ligatures;
}

a,
button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button {
	transition: all .1s ease-in-out;
}

::selection {
	// text-shadow: none;
}

a {
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
	}
}

ol,
ul {
	@extend %unstyled-list;
}

p {
	margin: 0;
	padding: 0;
}

strong {
	font-weight: 700;
}

abbr {
	letter-spacing: .1em;
}

pre {
	overflow: scroll;
	white-space: pre;
}

code {
	overflow: hidden;
	word-wrap: break-word;
}

iframe {
	border: none;
}
