html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	font-weight: 300;
	font-size: 16px;
	font-size: 1.6rem;
	text-rendering:  optimizeLegibility;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	@include transition(all 0.1s ease-in-out);
}

::-moz-selection {
	text-shadow: none;
}

::selection {
	text-shadow: none;
}

a {

	&:hover,
	&:focus,
	&:active {

	}

	img {
		margin-bottom: -4px;
		margin-bottom: -0.4rem;
	}
}

ol,
ul,
p {
	margin: 0;
	padding: 0;
	list-style: none;
}

pre {
	overflow: scroll;
	white-space: pre;
}