html {
	margin-top: var(--wp-admin--admin-bar--height, 0px);

	scroll-behavior: smooth;
	scroll-padding-top: var(--wp-admin--admin-bar--height, 0px);
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	color: $text;
	font-family: $sans;

	scroll-behavior: smooth;
	// overscroll-behavior: contain;

	svg {
		fill: currentColor;
	}
}

::selection {
	// text-shadow: none;
}

a {
	text-decoration: underline;
	transition: all .15s ease-in-out;

	&:visited {
	}

	&:hover {
		text-decoration: none;
	}
}

ol,
ul {
	@include unstyled-list;
}

p {
	@include type;
}

b,
strong {
	font-weight: 700;
}

iframe {
	border: none;
}

hr {
	margin: $spacer 0;
	clear: both;
	border: none;
	border-top: 1px solid palette(grey, 'light');
	border-collapse: collapse;
}
