/*********************
SIZES
*********************/
$spacer: 1.5em;
$site-width: 60em; // Useful for fixed width sites, as well as for limiting the max-width of fluid sites

/*********************
BREAKPOINTS
*********************/
// Use pixels for include-media-export compatibility. 'zero' breakpoint ensures the breakpoints are printed on all screen widths.
$breakpoints: ( zero: (1 * 16px), phone: (35 * 16px), portrait: (48 * 16px), admin-bar: (48.875 * 16px), landscape: (64 * 16px), desktop: (80 * 16px) );

/*********************
COLORS
*********************/
$grey: $gray;

/*********************
TYPOGRAPHY - http://cssfontstack.com/
*********************/
// https://medium.com/@mwichary/system-shock-6b1dc6d6596f
$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
