// Compass & Variables
@import "compass/css3";
@import "variables";

// Normalize, Clearfix, & Toolkit
@import "normalize.scss/_normalize.scss";
@import "clearfix";
@import "toolkit";

// Universal Box-Sizing
*,
:before,
:after {
	@include box-sizing(border-box);
}

// Sitewide Styles
@import "type";
@import "headings";
@import "objects-and-images";
@import "forms";
@import "layout";
@import "grid";

// Module Styles
@import "header";
@import "navigation";
@import "content";
@import "comments";
@import "sidebars";
@import "footer";

// Print
@import "print";

// Shame - For new style snippets that haven't been sorted and commented yet
@import "shame";