// Compass & Variables
@import "compass/css3";
@import "variables";

// Normalize, Clearfix, & Toolkit
@import "../bower_components/normalize-scss/normalize.scss";
@import "clearfix";
@import "toolkit";

// Universal Box-Sizing
*,
:before,
:after {
	box-sizing: border-box;
}

// Sitewide Styles
@import "grid";
@import "layout";
@import "type";
@import "headings";
@import "objects-and-images";
@import "forms";

// Module Styles
@import "header";
@import "navigation";
@import "content";
@import "comments";
@import "sidebars";
@import "footer";

// Templates

// Print
@import "print";

// IE Compatibility
@import "ie";

// Shame - For new style snippets that haven't been sorted and commented yet
@import "shame";