// Compass & Variables
@import 'compass/css3';

// Colors
@import '../bower_components/colors-sass/sass/variables';

// Variables & Mixins
@import '../bower_components/include-media/dist/_include-media';
@import '../bower_components/include-media-export/dist/_include-media-export';
@import 'variables';

// Normalize, Clearfix, & Toolkit
@import '../bower_components/sanitize-css/lib/sanitize.scss';
@import 'clearfix';
@import 'toolkit';
@import 'accessibility';

// Universal Box-Sizing (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/)
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// Sitewide Styles
@import 'grid';
@import 'layout';
@import 'type';
@import 'headings';
@import 'objects-and-images';
@import 'buttons';
@import 'forms';

// Module Styles
@import 'header';
@import 'navigation';
@import 'content';
@import 'comments';
@import 'sidebars';
@import 'footer';

// Templates
@import 'archives';

// Print
@import 'print';

// IE Compatibility
@import 'ie';

// Shame - For new style snippets that haven't been sorted and commented yet
@import 'shame';
