// CSS Imports (relative to build/css)
@import '../../bower_components/normalize-css/normalize.css';

// Colors
@import '../bower_components/brand-colors/dist/latest/scss/brand-colors.latest.scss';
@import '../bower_components/colors-sass/sass/variables';

// Variables & Mixins - variables must be imported after include-media, so that breakpoints aren't overwritten
@import '../bower_components/include-media/dist/_include-media';
@import 'variables';
@import '../bower_components/include-media-export/dist/_include-media-export';

// Development helper styles - should be removed for production
@import 'developer-tools';

// Clearfix & Toolkit
@import 'clearfix';
@import 'toolkit';
@import 'accessibility';

// Universal Box-Sizing (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/)
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Sitewide Styles
@import 'grid';
@import 'layout';
@import 'type';
@import 'headings';
@import 'objects-and-images';
@import 'buttons';
@import 'forms';

// Module Styles
@import 'header';
@import 'navigation';
@import 'content';
@import 'comments';
@import 'sidebars';
@import 'footer';

// Templates
@import 'archives';

// Print
@import 'print';

// Shame - For new style snippets that haven't been sorted and commented yet
@import 'shame';
