Options -Indexes

<Files ".*">
	Order Allow,Deny
	Deny from all
</Files>

<Files "*.json">
	Order Allow,Deny
	Deny from all
</Files>

<Files "*.lock">
	Order Allow,Deny
	Deny from all
</Files>

<Files "*.md">
	Order Allow,Deny
	Deny from all
</Files>
