.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

body {
}

a, a:visited {
}
a:hover, a:focus {
}

::-moz-selection {}
::selection {}

#wrap {}
#inner {}
#content-sidebar-wrap {}
#content {}
.content-sidebar, .sidebar-content, .sidebar-sidebar-content, .full-width-content {
	#content {}
}
.content-sidebar {}
.sidebar-content {}
.sidebar-sidebar-content {}
.full-width-content {}

h1, h2, h3, h4, h5, h6 {
	a {}
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}