/*********************
SIZES
*********************/


/*********************
COLORS
*********************/
$black:             #222;
$white:             #fff;


/*********************
SPRITES
*********************/


/*********************
TYPOGRAPHY
*********************/
$sans:        		 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$serif:              "Georgia", Cambria, Times New Roman, Times, serif; 